extends layout

block content
  form(method='POST')
    legend Login
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username', autofocus)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    if error
      p(style='color:red;') #{error}
    button.btn.btn-primary(type='submit') Login
    a.btn.btn-link(href='/users/forgot') Forgot Password?
    a.btn.btn-link(href='/users/signup') Create Account